.App {
  width: 70%;
  margin: 2rem auto;
  border-width: 5px;
  border-style: solid;
  border-color: pink lightblue lightblue pink;
  padding: 2rem;
}

.search-section {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.favorite {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 40px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

li {
  margin: 5px;
}

input {
  padding: 10px;
}

button {
  padding: 10px;
}

button.active {
  background-color: yellow !important;
}
